@import "./src/styles/helper";

.partShop{
  background-color: $mainGrey;
}


.shopItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.ButtonBar-wrapper{
    width: 64%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 8px 15px;
}
