@import "./src/styles/helper";

.card {
  display: flex;
  flex-direction: column;
  border: $mainBorder rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  margin: 15px;
  background-color: white;
}

.card__image-wrapper {
  cursor: pointer;
  overflow: hidden;
  position: relative;

  & .card__image {
    width: 100%;
    transition: transform 1s ease-in-out;
  }

  &:hover .card__image {
    transform: scale(1.2);
  }

  &:hover .store-item-icon{
    //background-color: #ef7998;
    transform: translate(-100%, -100%);;
  }
}



.card__body {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.card__body-text {
  font-size: 20px;
  margin-bottom: 8px;
}


.store-item-icon {
  position: absolute;
  top:100%;
  left: 100%;
  padding: 12px;
  background: $mainYellow;
  border-top-left-radius: 16px;
  transition: all 1s ease-in-out;
}
