.header{
    margin: 0 auto;
    display: flex;
    padding: 8px 24px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.header-brand{
    margin: 5px 16px 5px 0;
}